<body>
 <form action="/weather/show.ejs" method="post">
  <label>Zip Code:</label>
  <input type="text" placeholder="insert your zip code" name="zip" id="zip">
  <button type="submit">Submit</button>
</form> 
</body>
